.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/
build/
dist/
.mypy_cache/
.pytest_cache/
*.log
logs/
**/logs/
**/config/.env
**/config/env.example
!**/config/env.product
*.ipynb
**/.DS_Store
!**/config/.env.product


