aiohttp==3.10.5
fastapi==0.115.5
litellm[proxy]==1.75.5.post1
openai==1.99.9
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.3
typing_extensions==4.14.1
uvicorn==0.29.0
watchdog==4.0.1
PyYAML==6.0.2
